{% extends 'base.html' %}


{% block content %}
{% for msg in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{ post.title }}</h2>
    <small>By: {{ post.poster.name }}<br/>
    {{ post.date_posted.strftime('%d %b %Y') }}</small> <br/><br/>
    {{ post.content|safe }}
{% if current_user.is_authenticated %}
<button class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" >Reply</button>
<div class="collapse" id="collapseExample">
    <div class="card-header">
        Reply
    </div>
    <div class="card card-body">
        <form action="{{ url_for('view_replies', id=post.id) }}" method="POST"class="shadow p-3 mb-5 bg-body rounded" >
            {{ form.hidden_tag() }}
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows="1") }}
        </br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
    </div>
</div>
</br>
{% else %}
<a href="{{ url_for('login')}}" class="btn btn-primary btn-sm">Login To Reply</a>
</br>
{% endif %}
</br>
{% if replies %}
    {% for reply in replies %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <small>By: {{ reply.ureplies.name }}<br/>
        {{ reply.date_replied.strftime('%d %b %Y') }}</small> <br/><br/>
        {{ reply.content|safe }}
        <br/><br/>
        {% if current_user.is_authenticated %}
            {% if current_user.id==reply.reply_id %}
            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseone" >Edit Reply</button>
            <a href="{{ url_for('delete_reply', id=reply.id) }}" class="btn btn-outline-danger btn-sm" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </a>
            <div class="collapse" id="collapse{{loop.index}}">
                <div class="card-header">
                    Update Reply
                </div>
                <div class="card card-body">
                    <form action="{{ url_for('edit_reply', id=reply.id) }}" method="POST"class="shadow p-3 mb-5 bg-body rounded" >
                        {{ form.hidden_tag() }}
                        {{ form.content.label(class="form-label") }}
                        {{ form.content(class="form-control", rows="1") }}
                    </br>
                        {{ form.submit(class="btn btn-secondary") }}
                    </form>
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='content') }}
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}

{% else %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h3>No replies yet</h3>
    </div>
{% endif %}
</div>
{% endblock %}